In [11]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

dframe = pd.read_csv('tips_with_header.csv') #open csv file with header
dframe

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [9]:
dframe2 = pd.read_csv('tips_without_header.csv',header = None) #open csv file without header 
dframe2

         0     1       2    3     4       5  6
0    16.99  1.01  Female   No   Sun  Dinner  2
1    10.34  1.66    Male   No   Sun  Dinner  3
2    21.01  3.50    Male   No   Sun  Dinner  3
3    23.68  3.31    Male   No   Sun  Dinner  2
4    24.59  3.61  Female   No   Sun  Dinner  4
5    25.29  4.71    Male   No   Sun  Dinner  4
6     8.77  2.00    Male   No   Sun  Dinner  2
7    26.88  3.12    Male   No   Sun  Dinner  4
8    15.04  1.96    Male   No   Sun  Dinner  2
9    14.78  3.23    Male   No   Sun  Dinner  2
10   10.27  1.71    Male   No   Sun  Dinner  2
11   35.26  5.00  Female   No   Sun  Dinner  4
12   15.42  1.57    Male   No   Sun  Dinner  2
13   18.43  3.00    Male   No   Sun  Dinner  4
14   14.83  3.02  Female   No   Sun  Dinner  2
15   21.58  3.92    Male   No   Sun  Dinner  2
16   10.33  1.67  Female   No   Sun  Dinner  3
17   16.29  3.71    Male   No   Sun  Dinner  3
18   16.97  3.50  Female   No   Sun  Dinner  3
19   20.65  3.35    Male   No   Sat  Dinner  3
20   17.92  4.08    Male   No   Sat  Dinner  2
21   20.29  2.75  Female   No   Sat  Dinner  2
22   15.77  2.23  Female   No   Sat  Dinner  2
23   39.42  7.58    Male   No   Sat  Dinner  4
24   19.82  3.18    Male   No   Sat  Dinner  2
25   17.81  2.34    Male   No   Sat  Dinner  4
26   13.37  2.00    Male   No   Sat  Dinner  2
27   12.69  2.00    Male   No   Sat  Dinner  2
28   21.70  4.30    Male   No   Sat  Dinner  2
29   19.65  3.00  Female   No   Sat  Dinner  2
..     ...   ...     ...  ...   ...     ... ..
214  28.17  6.50  Female  Yes   Sat  Dinner  3
215  12.90  1.10  Female  Yes   Sat  Dinner  2
216  28.15  3.00    Male  Yes   Sat  Dinner  5
217  11.59  1.50    Male  Yes   Sat  Dinner  2
218   7.74  1.44    Male  Yes   Sat  Dinner  2
219  30.14  3.09  Female  Yes   Sat  Dinner  4
220  12.16  2.20    Male  Yes   Fri   Lunch  2
221  13.42  3.48  Female  Yes   Fri   Lunch  2
222   8.58  1.92    Male  Yes   Fri   Lunch  1
223  15.98  3.00  Female   No   Fri   Lunch  3
224  13.42  1.58    Male  Yes   Fri   Lunch  2
225  16.27  2.50  Female  Yes   Fri   Lunch  2
226  10.09  2.00  Female  Yes   Fri   Lunch  2
227  20.45  3.00    Male   No   Sat  Dinner  4
228  13.28  2.72    Male   No   Sat  Dinner  2
229  22.12  2.88  Female  Yes   Sat  Dinner  2
230  24.01  2.00    Male  Yes   Sat  Dinner  4
231  15.69  3.00    Male  Yes   Sat  Dinner  3
232  11.61  3.39    Male   No   Sat  Dinner  2
233  10.77  1.47    Male   No   Sat  Dinner  2
234  15.53  3.00    Male  Yes   Sat  Dinner  2
235  10.07  1.25    Male   No   Sat  Dinner  2
236  12.60  1.00    Male  Yes   Sat  Dinner  2
237  32.83  1.17    Male  Yes   Sat  Dinner  2
238  35.83  4.67  Female   No   Sat  Dinner  3
239  29.03  5.92    Male   No   Sat  Dinner  3
240  27.18  2.00  Female  Yes   Sat  Dinner  2
241  22.67  2.00    Male  Yes   Sat  Dinner  2
242  17.82  1.75    Male   No   Sat  Dinner  2
243  18.78  3.00  Female   No  Thur  Dinner  2

[244 rows x 7 columns]

In [52]:
#using read table
dframe = pd.read_table('tips_with_header.csv',sep=',', header = None)
dframe.head(10)

     0     1       2
0  NaN   tip     sex
1  0.0  1.01  Female
2  1.0  1.66    Male
3  2.0   3.5    Male
4  3.0  3.31    Male
5  4.0  3.61  Female
6  5.0  4.71    Male
7  6.0   2.0    Male
8  7.0  3.12    Male
9  8.0  1.96    Male

In [16]:
#partial rows importing
pd.read_csv('tips_with_header.csv',nrows=2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [33]:
#select specific columns
DataFrame(dframe, columns=['sex','smoker'])

        sex smoker
0    Female     No
1      Male     No
2      Male     No
3      Male     No
4    Female     No
5      Male     No
6      Male     No
7      Male     No
8      Male     No
9      Male     No
10     Male     No
11   Female     No
12     Male     No
13     Male     No
14   Female     No
15     Male     No
16   Female     No
17     Male     No
18   Female     No
19     Male     No
20     Male     No
21   Female     No
22   Female     No
23     Male     No
24     Male     No
25     Male     No
26     Male     No
27     Male     No
28     Male     No
29   Female     No
..      ...    ...
214  Female    Yes
215  Female    Yes
216    Male    Yes
217    Male    Yes
218    Male    Yes
219  Female    Yes
220    Male    Yes
221  Female    Yes
222    Male    Yes
223  Female     No
224    Male    Yes
225  Female    Yes
226  Female    Yes
227    Male     No
228    Male     No
229  Female    Yes
230    Male    Yes
231    Male    Yes
232    Male     No
233    Male     No
234    Male    Yes
235    Male     No
236    Male    Yes
237    Male    Yes
238  Female     No
239    Male     No
240  Female    Yes
241    Male    Yes
242    Male     No
243  Female     No

[244 rows x 2 columns]

In [36]:
#dump
dframe2.to_csv('tips_with_heade.csv', sep=',');

In [41]:
'''HTML Pandas'''
import pandas as pd
from pandas import DataFrame
from pandas import read_html

#scrap country codes from the internet
url = "https://countrycode.org/"
dflist = pd.io.html.read_html(url)
dframe = dflist[0]
dframe

#save to excel file
dframe.to_csv('Country_Codes.csv', sep=',')

In [53]:
#merging Datasets on columns

diamond = pd.read_csv('diamonds.csv')
diamond.head(20)

    carat        cut color clarity  depth  table  price     x     y     z
0    0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1    0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2    0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3    0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4    0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5    0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6    0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7    0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8    0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9    0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
10   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16   0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17   0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19   0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66

In [62]:
DataFrame(diamond, columns = ['carat', 'color'])

       carat color
0       0.23     E
1       0.21     E
2       0.23     E
3       0.29     I
4       0.31     J
5       0.24     J
6       0.24     I
7       0.26     H
8       0.22     E
9       0.23     H
10      0.30     J
11      0.23     J
12      0.22     F
13      0.31     J
14      0.20     E
15      0.32     E
16      0.30     I
17      0.30     J
18      0.30     J
19      0.30     J
20      0.30     I
21      0.23     E
22      0.23     H
23      0.31     J
24      0.31     J
25      0.23     G
26      0.24     I
27      0.30     J
28      0.23     D
29      0.23     F
...      ...   ...
53910   0.70     E
53911   0.57     E
53912   0.61     F
53913   0.80     G
53914   0.84     I
53915   0.77     E
53916   0.74     D
53917   0.90     J
53918   0.76     I
53919   0.76     I
53920   0.70     E
53921   0.70     E
53922   0.70     D
53923   0.73     I
53924   0.73     I
53925   0.79     I
53926   0.71     E
53927   0.79     F
53928   0.79     E
53929   0.71     G
53930   0.71     E
53931   0.71     F
53932   0.70     E
53933   0.70     E
53934   0.72     D
53935   0.72     D
53936   0.72     D
53937   0.70     D
53938   0.86     H
53939   0.75     D

[53940 rows x 2 columns]